# Environment:
OPENCLIP_PRETRAINED=laion2b_s32b_b79k
TASTEHEAD_CLIP_BATCH_SIZE=16
TASTEHEAD_DATA_DIR=./data
TASTEHEAD_EPOCHS=120
TASTEHEAD_LEARNING_RATE=0.001

# Python / ML section

PYTHON=python

#Paths for manual Python targets.
#Replace these with your own local paths if you use Makefile ML commands directly.

IMG_DIR=./data/training/testPictures
MODEL_PATH=./data/models/taste_head.pt

CSV_PATH_TRAIN=./internal/server/testdata/training/dataset1/output.csv
CSV_DIR_TRAIN=./internal/server/testdata/training/dataset1
DATA_PATH_TRAIN=./internal/server/testdata/runtimeTest
OUTPUT=./internal/server/testdata/training/dataset1/model.pt

#Test tools

GOOSE_BIN=goose
WAIT_MAX=60
TEST_OPENCLIP_PRETRAINED =none

#Test PostgreSQL container

TASTE_DB_IMAGE=postgres:16
TASTE_DB_USER=postgres
TASTE_DB_PASSWORD=postgres
TASTE_DB_NAME=tastehead_test
TASTE_DB_CONTAINER=tastehead_test_db
TASTE_DB_PORT_HOST=5443
TASTE_DB_PORT_CONT=5432


