# data
data/
clip/

# configs with local secrets/state
config/config.yaml
config/model.yaml

# python
.venv/
__pycache__/
*.pyc

# go
*.exe
*.test
coverage.out

# env
.env

# logs
*.log

# vscode
.vscode/

#test
internal/server/testdata/runtimeTest/
internal/server/testdata/import/
internal/server/testdata/models/
internal/server/testdata/training/